<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#3367D6">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#3367D6">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#3367D6">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- icon in the highest resolution we need it for -->
    <link rel="icon" sizes="192x192" href="../static/users/images/icons-192.png">

    <!-- reuse same icon for Safari -->
    <link rel="apple-touch-icon" href="../static/users/images/icons-192.png">

    <!-- multiple icons for IE -->
    <meta name="msapplication-square310x310logo" content="../static/users/images/icons-192.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    {% load static %}
    <link href="{% static "users/style.css" %}" rel="stylesheet">

    <!--Manifest.json-->
    <link rel="manifest" href="{% static "users/manifest.json" %}" rel="manifest">

    <title>Create Meeting</title>

</head>
<body>
    {% block content %}
    <div class="topnav">
        <a href="#">
            {% if request.user.is_authenticated %}
                Welcome '{{ request.user.username }}', Manage your Work Here!
            {% endif %}
        </a>
        <a style="float: right;" href="{% url 'logout' %}">Logout</a>
        <a style="float: right;" href="{% url 'converted' %}">Closed</a>
        <a style="float: right;" href="{% url 'home' %}">In Progress</a>
    </div>
    <div class="card form login">
        <form>
            {% csrf_token %}
            <h1 class="title border-bottom mb-4">Create a new Meeting</h1>
            <label for="status">Lead Status</label>
            <select id="status" name="type">
                <option value="COLD">Cold</option>
                <option value="WARM">Warm</option>
                <option value="HOT">Hot</option>
            </select>
            <span class="alerts" id="status-alert" style="display: none;">*Status can't be Empty</span>
        
            <label for="date">Date</label>
            <input type="date" id="date" name="date">

            <label for="time">Time</label>
            <input type="time" id="time" name="date">

            <label for="venue">Venue</label>
            <input type="text" id="venue" name="venue" placeholder="Venue">
            
            <label for="date2">Follow-Up Date</label>
            <input type="date" id="date2" name="date2">

            <label for="details">Meeting Details</label>
            <textarea type="textarea" rows="4" id="details" name="details"></textarea>
            <span class="alerts" id="details-alert" style="display: none;">*Meeting details can't be Empty</span>
            
            <label class="alerts" id="location-alert" style="display:none; text-align:center;">
                Location access is not given! Please allow location access to create a new meeting!
            </label>
            
            <input onClick="check()" class="submit" value="Submit" readonly>
        </form>
        <div style="display:none;" id="message"></div>   
    </div>
    {% endblock %}
    {% load static %}
    <script>
        const date = new Date()
        var flag = 0;
        document.getElementById('date').valueAsDate = date;
        document.getElementById('time').defaultValue = date.getHours() + ":" + date.getMinutes();
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } 
        }
        getLocation();
        function showPosition(position) {
            localStorage["latitude"] = parseFloat(position.coords.latitude);  
            localStorage["longitude"] = parseFloat(position.coords.longitude);
            flag = 1;
        }
        function check(event) {
            const url = "https://vendor-django-app.herokuapp.com/api/meetings/";
            var count = 0;
            var alert_flag = 0;
            const data = {
                "lead": parseInt(localStorage["lead_id"]),
                "type" : "FOLLOW-UP MEETING",
                "status": document.getElementById('status').value,
                'venue' : document.getElementById('venue').value,
                "details" : document.getElementById('details').value,
                "latitude" : localStorage["latitude"],
                "longitude" : localStorage["longitude"],
                };

            if (document.getElementById('date').value !== ""){
                data["date"] = document.getElementById('date').value;
            }
            if (document.getElementById('time').value !== ""){
                data["time"] = document.getElementById('date').value;
            }
            if (document.getElementById('date2').value !== ""){
                data["follow_up_date"] = document.getElementById('date2').value;
            }
            console.log(data);
            if(document.getElementById('status').value == ""){
                document.getElementById('status-alert').style.display = 'block';
            }
            else{
                document.getElementById('status-alert').style.display = 'none';
                count+=1;
            }
            if(document.getElementById('details').value == ""){
                document.getElementById('details-alert').style.display = 'block';
            }
            else{
                document.getElementById('details-alert').style.display = 'none';
                count+=1;
            }
            if (flag==0){
                alert("Location access is not given! Please allow location access to create a new meeting!");
            }
            if(count==2 && flag==1){
                fetch(url, {
                    method: "POST",
                    credentials: "same-origin",
                    headers: {
                        "X-CSRFToken" : getCookie('csrftoken'),
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=UTF-8"
                    },
                    body: JSON.stringify(data)
                }).then(function(response) {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error("Could not reach the API: " + response.statusText);
                    }
                }).then(function(data) {
                    document.getElementById("message").innerHTML = data.encoded;
                    window.location = "https://vendor-django-app.herokuapp.com/home/meetings";
                }).catch(function(error) {
                    document.getElementById("message").innerHTML = error.message;
                    alert(error);
                });
            }
        }
    </script>
    <script>
            var serviceWorkerPath = "/serviceworker.js";
            var charchaServiceWorker = registerServiceWorker(serviceWorkerPath);
            function registerServiceWorker(serviceWorkerPath){
                if('serviceWorker' in navigator){
                navigator.serviceWorker
                    .register(serviceWorkerPath)
                    .then(
                        function(reg){
                        console.log('service worker registered');
                        }
                    ).catch(function(error){
                        console.log(error)
                    });
                }
            }
        </script>
</body>
</html>