<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS -->
    {% load static %}
    <link href="{% static "users/style.css" %}" rel="stylesheet">

    <title>Leads Meetings</title>

</head>
<body>
    {% block content %}
    <div class="topnav">
        <a href="#">
            {% if request.user.is_authenticated %}
                Welcome '{{ request.user.username }}', Manage your Meetings with Leads Here!
            {% endif %}
        </a>
        <a style="float: right;" href="{% url 'logout' %}">Logout</a>
        <a style="float: right;" href="{% url 'closed' %}">Closed</a>
        <a style="float: right;" href="{% url 'converted' %}">Converted</a>
        <a style="float: right;" href="{% url 'home' %}">Ongoing</a>
    </div>
    <div class="filters">
        <a href="{% url 'meeting_create' %}"><button class="button green">&#43; Add a new Meeting</button></a>
    </div>
    <div class="main">
        <div id="root"></div>
    </div>
    {% endblock %}
    {% load static %}
    <script src="{% static "users/meetings.js" %}"></script>
</body>
</html>